* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1 {
  height : 200px;
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.box1-content {
  width: 25%;
  height: 200px;
  background-color: rgba(0,0,0,0.5);
  text-align : center;
}

.box1-text {
  font-size :130px;
  color: pink;
}

.box2 {
  height : 200px;
  background-image: url(img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.box2-content {
  width: 25%;
  height: 200px;
  margin-left: 25%;
  background-color: rgba(0,0,0,0.5);
  text-align : center;
}

.box2-text {
  font-size :130px;
  color: blue;
}

.box3 {
  height : 200px;
  background-image: url(img/box3.jpg);
  background-size: cover;
  background-position: center;
}
.box3-content {
  width: 25%;
  height: 200px;
  margin-left: 50%;
  background-color: rgba(0,0,0,0.5);
  text-align : center;
}

.box3-text {
  font-size :130px;
  color: orange;
}
.box4 {
  height : 200px;
  background-image: url(img/box4.jpg);
  background-size: cover;
  background-position: center;
}
.box4-content {
  width: 25%;
  height: 200px;
  margin-left: 75%;
  background-color: rgba(0,0,0,0.5);
  text-align : center;
}

.box4-text {
  font-size :130px;
  color: #fff;
}